@using cellShopSolution.ViewModel.Dtos
@model PageResult<cellShopSolution.ViewModel.Dtos.Products.ProductViewModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function() {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
    <div class="container-fluid px-4">
        <h1 class="mt-4">DANH SÁCH SẢN PHẨM </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">TRANG CHỦ</a></li>
            <li class="breadcrumb-item active">Danh sách người dùng</li>
        </ol>
        <div class="card mb-4">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-sm btn-danger" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="categoryId" asp-items="@ViewBag.Category" onchange="this.form.submit()" class="form-control">
                                    <option>
                                        --Danh mục--
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-sm btn-info">Tìm kiếm</button>
                                <button type="submit" onclick="window.location.href='/Product/Index'" class="btn btn-sm btn-warning">Reset</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                @if (ViewBag.SuccessMessage != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMessage
                </div>

            }
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width:50px">
                            Hình ảnh
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Giá
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Số lượng tồn
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                    <img src="@(Configuration["BaseAddressUrlImg"] + @item.ProductslImage)" class="img-fluid" alt="" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginaPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Product",new { @id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                <a href="@Url.Action("Edit","Product",new { @id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-edit"></i></a>
                                <a href="@Url.Action("Delete","Product",new { @id = item.Id })" class="btn btn-sm btn-success"><i class="fas fa-trash"></i></a>
                                <a href="@Url.Action("CategoryAssign","Product",new { @id = item.Id })" class="btn btn-sm btn-success"><i class="fas fade"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>




